{% extends 'master.html' %}
    {% block body %}
    <form class="rating" method = "POST">
        <h2 class="rating-heading">Add or update your movie rating.</h2>

        <input type="text" class="form-control" placeholder="Rating" name="rating">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
    </form>


    <h1>Ratings for {{rating_list[0].movies[0].name}}</h1>
    {% for rating in rating_list %}
        <h3>Rating {{rating.rating}} by User {{rating.user_id}}</h3>
        <br/>
    {% endfor %}
    {% endblock %}